.docs-container {
  min-height: 100vh;
}

.docs-brand {
  color: #5755d9;
  padding: .8rem 1rem;
}

.docs-logo:focus,
.docs-logo:hover {
  text-decoration: none;
}

.docs-logo h2 {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.3rem;
}

.docs-sidebar .docs-nav {
  /*width: 12rem;*/
  padding: 0 .7rem;
}

.off-canvas .off-canvas-content {
  padding: 0;
}

.docs-content {
  flex: 1 1 auto;
  padding: 1rem 4rem;
}

.nav .nav-item div {
  color: #66758c;
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}

.docs-nav > .nav > .nav-item > a {
  text-transform: uppercase;
  font-weight: bold;
}
